<h3>Matrix:</h3>
    <ul>
        <li>Determinants: {{ this.getMatDet() }}</li>
        <li>Rank: </li>
    </ul>
    <table>
        <tr>
            <th></th>
            <th style="color: red">1</th>
            <th style="color: blue">2</th>
        </tr>
        <tr>
            <td>1</td>
            <td><input #r1c1 type="number" name="r1c1" id="matrix-r1c1" [value]="this.getMatElem(0, 0)"></td>
            <td><input #r1c2 type="number" name="r1c2" id="matrix-r1c2" [value]="this.getMatElem(0, 1)"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input #r2c1 type="number" name="r2c1" id="matrix-r2c1" [value]="this.getMatElem(1, 0)"></td>
            <td><input #r2c2 type="number" name="r2c2" id="matrix-r2c2" [value]="this.getMatElem(1, 1)"></td>
        </tr>
    </table>

    <button (click)="updateMatrix(r1c1.value, r1c2.value, r2c1.value, r2c2.value)">Update Matrix</button>

<br>

<h3>Shapes: </h3>
    <select type="text" [(ngModel)]="currType">
        <option *ngFor='let shapeType of acceptedShapes' [ngValue]="shapeType">{{ shapeType }}</option>
    </select>
    <div *ngIf="currType === 'Vector'">
        Vector selected.
        <button>Add Shape</button>
    </div>
    <div *ngIf="currType === 'Rectangle'">
        Rectangle selected.
        <button>Add Shape</button>
    </div>
    <div *ngIf="currType === 'Ellipse'">
        Ellipse selected
        <button>Add Shape</button>
    </div>
    <div *ngIf="currType === 'Polygon'">
        Polygon selected
        <button>Add Shape</button>
    </div>
    <div *ngIf="currType === 'Dot'">
        Dot selected
        <button>Add Shape</button>
    </div>
