th {
    text-align: center;
    font-style: normal;
}

td {
    text-align: center;
}

th, td {
    width: 80px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px grey solid;
}

input[type=number] {
    width: 80px;
    text-align: center;
}