<h3>Matrix:</h3>
    <ul>
        <li>Determinants: {{ this.getMatDet() }}</li>
        <li>Rank: {{ this.getMatRank() }}</li>
    </ul>
    <table>
        <tr>
            <th></th>
            <th style="color: red">1</th>
            <th style="color: blue">2</th>
        </tr>
        <tr>
            <td>1</td>
            <td><input #r1c1 type="number" name="r1c1" id="matrix-r1c1" [value]="this.getMatElem(0, 0)"></td>
            <td><input #r1c2 type="number" name="r1c2" id="matrix-r1c2" [value]="this.getMatElem(0, 1)"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input #r2c1 type="number" name="r2c1" id="matrix-r2c1" [value]="this.getMatElem(1, 0)"></td>
            <td><input #r2c2 type="number" name="r2c2" id="matrix-r2c2" [value]="this.getMatElem(1, 1)"></td>
        </tr>
    </table>

    <button (click)="updateMatrix(r1c1.value, r1c2.value, r2c1.value, r2c2.value)">Update Matrix</button>

<br>

<h3>Shapes: </h3>
    <select type="text" [(ngModel)]="currType">
        <option *ngFor='let shapeType of acceptedShapes' [ngValue]="shapeType">{{ shapeType }}</option>
    </select>
    <label for="color-select">Color: </label><input #color type="color" name="color-select" id="color-select"><br>
    <div *ngIf="currType === 'Vector'">
        <label for="vector-x1">x1: </label><input #vectorx1 type="number" name="vector" id="vector-x1" value="1"><br>
        <label for="vector-x1">y1: </label><input #vectory1 type="number" name="vector" id="vector-y1" value="1"><br>
        <label for="vector-x1">x2: </label><input #vectorx2 type="number" name="vector" id="vector-x2" value="2"><br>
        <label for="vector-x1">y2: </label><input #vectory2 type="number" name="vector" id="vector-y2" value="2"><br>
        <button (click)="addVector(color.value, vectorx1.value, vectory1.value, vectorx2.value, vectory2.value)">Add Vector</button>
    </div>
    <div *ngIf="currType === 'Rectangle'">
        <button>Add Rectangle</button>
    </div>
    <div *ngIf="currType === 'Ellipse'">
        <label for="ellipse-cx">cx: </label><input #ellipsecx type="number" name="ellipse" id="ellipse-cx" value="1"><br>
        <label for="ellipse-cy">cy: </label><input #ellipsecy type="number" name="ellipse" id="ellipse-cy" value="1"><br>
        <label for="ellipse-rx">rx: </label><input #ellipserx type="number" name="ellipse" id="ellipse-rx" value="2"><br>
        <label for="ellipse-ry">ry: </label><input #ellipsery type="number" name="ellipse" id="ellipse-ry" value="2"><br>
        <button (click)="addEllipse(color.value, ellipsecx.value, ellipsecy.value, ellipserx.value, ellipsery.value)">Add Ellipse</button>
    </div>
    <div *ngIf="currType === 'Polygon'">
        <button>Add Polygon</button>
    </div>
    <div *ngIf="currType === 'Dot'">
        <label for="dot-x">cx: </label><input #dotx type="number" name="dot" id="dot-x" value="1"><br>
        <label for="dot-y">cy: </label><input #doty type="number" name="dot" id="dot-y" value="1"><br>
        <button (click)="addDot(color.value, dotx.value, doty.value)">Add Dot</button>
    </div>
