:root {
    --length: min(80vh, 800px)
}

div.board {
    width: calc(min(80vh, 800px) + 300px);
    height: min(80vh, 800px);
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem 1rem;
}

svg.board {
    width: min(80vh, 800px);
    height: min(80vh, 800px);
    /* border: 1px red solid; */
}

div.control {
    width: 300px;
    height: min(80vh, 800px);
    /* border: 1px red solid; */
    margin: auto;
}

th {
    text-align: center;
    font-style: normal;
}

td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, td, th{
    border: 1px grey solid;
}
