<div class='matrix-board'>
    <svg class='board'></svg>
    <div class='control'>

        <h3>Matrix:</h3>
            <table>
                <tr>
                    <th></th>
                    <th>1</th>
                    <th>2</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><input type="text" name="r1c1" id="matrix-r1c1" [value]="this.getMatElem(0, 0)"></td>
                    <td><input type="text" name="r1c2" id="matrix-r1c2" [value]="this.getMatElem(0, 1)"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text" name="r2c1" id="matrix-r2c1" [value]="this.getMatElem(1, 0)"></td>
                    <td><input type="text" name="r2c2" id="matrix-r2c2" [value]="this.getMatElem(1, 1)"></td>
                </tr>
            </table>
        <br>
        
        <h3>Shapes: </h3>
        <div class="shapes">
            <div>
                <select type="text" [(ngModel)]="currentSelectedShape">
                    <option *ngFor='let shape of listOfShape' [ngValue]="shape.id">{{ shape.id }}</option>
                </select>
                <button (click)='removeShape(currentSelectedShape)'>Delete selected shape</button>
            </div>
            
            <div>
                <select type="text" [(ngModel)]="currentSelectedShapeType">
                    <option *ngFor='let type of objectKeys(acceptedShapes)' [ngValue]="type">{{ type }}</option>
                </select>
                <button name="add-object">Add Obejct</button>
            </div>
        </div>
        <br>

        <h3>Matrix Info: </h3>
        <ul>
            <li>Determinants: {{ this.getMatDet() }}</li>
        </ul>
        <br>

        <!-- <h3>Eigenvalues: </h3>
        <table>
            <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
            </tr>
            <tr>
                <td>1</td>
                <td><input type="text" name="r1c1" id="eigen-r1c1" disabled="disabled"></td>
                <td><input type="text" name="r1c2" id="eigen-r1c2" disabled="disabled"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="text" name="r2c1" id="eigen-r2c1" disabled="disabled"></td>
                <td><input type="text" name="r2c2" id="eigen-r2c2" disabled="disabled"></td>
            </tr>
            <tr>
                <td>Eigenvector</td>
                <td><input type="text" name="v1" id="eigen-v1" disabled="disabled"></td>
                <td><input type="text" name="v2" id="eigen-v2" disabled="disabled"></td>
            </tr>
        </table> -->

    </div>
</div>


