/* You can add global styles to this file, and also import other style files */

/* Font usage:
 * font-family: 'Source Sans Pro', sans-serif;
 * font-family: 'Merriweather', serif;
 */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    background-image: url(assets/background.png);
    background-repeat: repeat;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 32pt;
    font-style: bold;
    text-align: center;
    text-shadow: grey 1px 1px;
}

p.desc {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 12pt;
    text-shadow: grey 0.5px 0 0.5px;
    margin: auto;
    width: min(80vw, 500px);
}